{% extends "HistoryMuseum/base.html" %}

{% block content %}
<div class="row row-cols-1 row-cols-md-2">
    {% for hero in heroes %}
    <div class="col-md-6 col-lg-4">
    <div class="card">
  
    <!-- Card -->
      <!--Card image-->      
        <div class="card-image">
          <a href="{% url 'hero_theory' hero.id %}">
        <img src= "{{ hero.hero_img.url }}"
          alt="Card image cap">
        <a href="{% url 'hero_theory' hero.id %}">
        </a>
      </div>
     <!--Card content-->
      <div class="container">
        <!--Title-->
        <h4>{{hero.name}}</h4>
        <!--Text-->
        <p class="card-text">{{hero.context}}</p>
        <a href="{% url 'hero_theory' hero.id %}">Πάτα εδώ για να διαβάσεις την θεωρία</a>
      </div>
  </div>
  </div>
    {% endfor %}
  </div>
</div>
{% endblock content%}