{% extends "HistoryMuseum/base.html" %}

{% block content %}
<div class="container-fluid bg-white">
        <div class="row">
            <div class="col-12 p-0">
                <div class="fill">
                  <div class="cover">
                        <h1 class="text-black">Ελληνική Επανάσταση 1821</h1>
                        <p class ="text-black">
                            Οι ήρωες και οι βιογραφίες τους, οι μάχες και τα ηρωικά γεγονότα που σημάδεψαν τον απελευθερωτικό αγώνα του 1821
                        </p>
                 </div>
                         <img src="https://www.ekt.gr/sites/ekt-site/files/styles/gallery/public/news/images/1821.jpg?itok=P3ww3Mpp"
                                class="center">
            </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12 pt-4 pb-5 mb-2">
                <div class="hub-content">
                    <div class="article-body">
                         
                        <h1 class>Εδώ θα μάθουμε για την Ελληνική Επανάσταση του 1821 και για τους Έλληνες Ήρωες που σημαδεψαν τον απελευθερωτικό αγώνα</h1>
                            <p>Ο ξεσηκωμός των υπόδουλων Ελλήνων κατά του Οθωμανού δυνάστη για ελευθερία και αυτοδιάθεση το 1821, υπήρξε το πιο σημαντικό γεγονός στην ιστορία της Νεώτερης Ελλάδας.
                                Η Ελληνική Επανάσταση  ήταν η αφετηρία της εθνικής παλιγγενεσίας, καθώς πέτυχε την ίδρυση του Ελληνικού Κράτους και συνεπώς την παρουσία της Ελλάδας,
                                ύστερα από έκλειψη αιώνων, στον πολιτικό χάρτη του κόσμου.
                              Η Ελληνική Επανάσταση υπήρξε κι ένα από τα κομβικά σημεία της ευρωπαϊκής
                                ιστορίας του 19ου αιώνα, καθώς ήταν η αφετηρία για τη διάλυση της Οθωμανικής Αυτοκρατορίας, που ούτως ή άλλως βρισκόταν σε φάση παρακμής.</p>
                            <h1>Ελληνική Επανάσταση 1821: Οι ήρωες</h1>
                        <p> Η Επανάσταση ξεκίνησε ουσιαστικά τον Φλεβάρη του 1821 στις παραδουνάβιες ηγεμονίες από τον Αλέξανδρο Υψηλάντη και ενδυναμώθηκε στην Πελοπόννησο τον επόμενο μήνα με την απελευθέρωση της Καλαμάτας (23 Μαρτίου) και την Προκήρυξη των επαναστατημένων Ελλήνων προς την ευρωπαϊκή κοινή γνώμη, ότι ξεσηκώθηκαν για την ελευθερία τους.
                            Και παρά την αποτυχία του Υψηλάντη στη Μολδοβλαχία, η σπίθα της επανάστασης άναψε για τα καλά στην Πελοπόννησο,
                            ένα από τα πιο καθυστερημένα τμήματα του ελληνισμού κι επεκτάθηκε σ’ όλο τον ελλαδικό χώρο.</p>
                            <p>Η κατάληψη της Τριπολιτσάς τον Σεπτέμβριο του 1821 παγίωσε την επανάσταση και ανέδειξε τη στρατηγική ιδιοφυΐα του Θεόδωρου Κολοκοτρώνη.</p>
                            <p> Οι επιτυχίες των επαναστατημένων Ελλήνων συνεχίστηκαν στα Δερβενάκια, τη Γραβιά με τον Οδυσσέα Ανδρούτσο, αλλά και στη θάλασσα, όπου διακρίθηκαν ναυμάχοι του επιπέδου ενός Κωνσταντίνου Κανάρη κι ενός Ανδρέα Μιαούλη.</p>
                            <p>Η αδυναμία των Οθωμανών Τούρκων να καταστείλουν την Επανάσταση οδήγησε στην εμφάνιση των Αιγυπτίων του Ιμπραήμ, που αποτέλεσε τη μεγαλύτερη απειλή για την Επανάσταση, σε συνδυασμό με τις εμφύλιες διαμάχες που είχαν ξεσπάσει μεταξύ των Ελλήνων («η διχόνοια... η δολερή» που λέει και ο εθνικός μας ποιητής στον «Ύμνο εις την Ελευθερίαν»).</p>
                            <p>Η πτώση του Μεσολογγίου τον Απρίλιο 1826 αναζωπύρωσε το κίνημα των φιλελλήνων στην Ευρώπη και ο ελληνικός ξεσηκωμός έλαβε διεθνείς διαστάσεις.</p>
                        </div>
                            <h1 class="mt-4">Τα ηρωικά γεγονότα και οι καθοριστικές μάχες</h1>
                            <p>Η συνδρομή των Μεγάλων Δυνάμεων στην απελευθέρωση υπήρξε καθοριστική, ιδιαίτερα με τη Ναυμαχία του Ναβαρίνου, τον Οκτώβριο του 1827.</p>
                            <p>Οι Έλληνες εξακολουθούσαν να μάχονται ηρωικά έως την τελευταία μεγάλη μάχη του Αγώνα στην Πέτρα της Βοιωτίας, τον Σεπτέμβριο του 1829, στην οποία διακρίθηκε ο Δημήτριος Υψηλάντης,
                                μία παραγνωρισμένη προσωπικότητα της Επανάστασης. Την περίοδο αυτή αναδείχθηκαν οι στρατηγικές ικανότητες του Γεωργίου Καραϊσκάκη, ιδιαίτερα στις Μάχες της Αράχωβας και σε περιοχές της Αττικής.</p>
                           <p>Στο μεταξύ, η άφιξη του Ιωάννη Καποδίστρια στην Ελλάδα στις αρχές του 1828 και η αναγόρευσή του από την εθνοσυνέλευση σε Κυβερνήτη της Ελλάδας σηματοδότησαν την απαρχή της οικοδόμησης του νέου κράτους.</p>
                          
                </div>
            </div>
        </div>
<hr class="mt-4">
</div>
{% endblock content %}


